@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  width: 60em;
  margin: 1in auto;
  font-family: "Montserrat", sans-serif;
};
li{
  padding: 0.2em;
  font-family: "Montserrat", sans-serif;
};
p {
  font-size: 18px;
};
